version: '3.8'

services:
  app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    volumes:
      - ../scripts:/app/scripts
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "5000:5000"