compute_environment: LOCAL_MACHINE
distributed_type: DEEPSPEED
deepspeed_config: deepspeed_config.json
mixed_precision: no
num_processes: 1
num_machines: 1
machine_rank: 0
main_process_ip: null
main_process_port: null
main_training_function: main
